<p>
  <strong>Label:</strong>
  <%= @library.label %>
</p>

<p>
  <strong>Code:</strong>
  <%= @library.code %>
</p>

<p>
  <strong>Order:</strong>
  <%= @library.order %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'View as JSON', format: :json %> |
<%= link_to 'All Libraries', libraries_path %>
