<p id="notice"><%= notice %></p>

<h1>Events</h1>

<lux-data-table :columns="[
  { 'name': 'id', 'display_name': 'Event ID', 'sortable': true},
  { 'name': 'start', 'display_name': 'Start', 'sortable': true},
  { 'name': 'finish', 'display_name': 'Finish', 'sortable': true},
  { 'name': 'success', 'display_name': 'Success', 'sortable': true},
]">
</lux-data-table>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Event ID</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Success</th>
      <th>Alma Job Status</th>
      <th>Error</th>
      <th>Dump Type</th>
      <th>Bibs Updated</th>
      <th>Bibs Deleted</th>
      <% if user_signed_in? %>
        <th>Delete?</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr class="table-striped<%= event.success ? '' : ' warning'%>">
        <td><%=event.id%></td>
        <td class="nowrap"><%= event.start&.localtime&.to_fs(:db_twelve_hour) %></td>
        <td class="nowrap "><%= event.finish&.localtime&.to_fs(:db_twelve_hour) if event.finish %></td>
        <td><%= event.success %></td>
        <td><%= event.alma_job_status %></td>
        <td ><%= event.error %></td>
        <% if event.dump.nil? %>
          <td colspan="3" />
        <% else %>
          <td class="nowrap"><%= link_to(event.dump.dump_type, dump_url(event.dump, format: :json)) %></td>
          <td ><%= event.dump.update_ids&.length if event.dump.changed_records? || event.dump.princeton_recap? %></td>
          <td ><%= event.dump.delete_ids&.length if event.dump.changed_records? %></td>
        <% end %>
        <% if user_signed_in? %>
          <td class="nowrap">
            <%= link_to 'Delete', event, method: :delete, class: "label label-danger", data: { confirm: 'Are you sure? This will Delete all associated files!' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

