<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Success</th>
      <th>Error</th>
      <th>Dump Type</th>
      <th>Bibs Updated</th>
      <th>Bibs Deleted</th>
      <th>Delete?</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr class="table-striped<%= event.success ? '' : ' warning'%>">
        <td class="nowrap"><%= event.start.localtime.to_s(:db_twelve_hour) %></td>
        <td class="nowrap "><%= event.finish.localtime.to_s(:db_twelve_hour) if event.finish %></td>
        <td><%= event.success %></td>
        <td ><%= event.error %></td>
        <% if event.dump.nil? %>
          <td colspan="3" />
        <% else %>
          <td class="nowrap"><%= link_to(event.dump.dump_type.label, dump_url(event.dump, format: :json)) %></td>
          <td ><%= event.dump.update_ids.length if event.dump.dump_type.constant == 'CHANGED_RECORDS' || event.dump.dump_type.constant == 'PRINCETON_RECAP'%></td>
          <td ><%= event.dump.delete_ids.length if event.dump.dump_type.constant == 'CHANGED_RECORDS' %></td>
        <% end %>
        <td class="nowrap"><%= link_to 'Delete', event, method: :delete, class: "label label-danger", data: { confirm: 'Are you sure? This will Delete all associated files!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @events %>
