<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @event.finish %>
</p>

<p>
  <strong>Error:</strong>
  <%= @event.error %>
</p>

<p>
  <strong>Success:</strong>
  <%= @event.success %>
</p>

<% unless @event.dump.nil? %>
  <p>
    <strong>Dump type:</strong>
    <%= @event.dump.dump_type.constant %>
  </p>

  <p>
    <strong>Dump url:</strong>
    <%= link_to 'Dump', dump_url(@event.dump, format: :json)  %>
  </p>
<% end %>

<<%= link_to 'Back', events_path %>
