<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @event.finish %>
</p>

<p>
  <strong>Error:</strong>
  <%= @event.error %>
</p>

<p>
  <strong>Success:</strong>
  <%= @event.success %>
</p>

<p>
  <strong>Dump type:</strong>
  <%= @event.dump_type %>
</p>

<<%= link_to 'Back', events_path %>
