<%= form_tag('/bibliographic', method: 'get', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag(:bib_id, 'Get a Bib Record:', class: 'col-sm-2 control-label') %>
    <div class="col-sm-2">
      <%= hidden_field_tag(:items_only, 0) %>
      <%= hidden_field_tag(:holdings_only, 0) %>
      <%= number_field_tag(:bib_id, nil,  class: 'form-control', placeholder: 'BibID') %>
    </div>
    <%= submit_tag('Submit', class: 'col-sm-1 btn btn-default') %>
  </div>
<% end %>

<%= form_tag('/bibliographic', method: 'get', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag(:bib_id, 'Get Holdings:', class: 'col-sm-2 control-label') %>
    <div class="col-sm-2">
      <%= hidden_field_tag(:items_only, 0) %>
      <%= hidden_field_tag(:holdings_only, 1) %>
      <%= number_field_tag(:bib_id, nil,  class: 'form-control', placeholder: 'BibID') %>
    </div>
    <%= submit_tag('Submit', class: 'col-sm-1 btn btn-default') %>
  </div>
<% end %>

<%= form_tag('/bibliographic', method: 'get', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag(:bib_id, 'Get Items (and Status):', class: 'col-sm-2 control-label') %>
    <div class="col-sm-2">
      <%= hidden_field_tag(:items_only, 1) %>
      <%= hidden_field_tag(:holdings_only, 0) %>
      <%= number_field_tag(:bib_id, nil,  class: 'form-control', placeholder: 'BibID') %>
    </div>
    <%= submit_tag('Submit', class: 'col-sm-1 btn btn-default') %>
  </div>
<% end %>
