<h1>PUL Bibliographic Data Web Service</h1>
<p><i>(AKA: &ldquo;MARC Liberation&rdquo;, 
  &ldquo;Child of getvoyrec&rdquo;,
  &ldquo;The Fat Pipe&rdquo;)</i>
</p>
<h2>Voyager</h2>
<h2>By Bib ID...</h2>
<%= render 'pages/bib_forms' %>

<h2>By Holding ID...</h2>
<%= render 'pages/holding_forms' %>

<h2>By Item ID...</h2>
<%= render 'pages/item_forms' %>
<hr>
<h2>Alma</h2>
<h2>By Bib ID...</h2>
<%= render 'pages/bib_alma_forms' %>

<h2>By Holding ID...</h2>
<%= render 'pages/holding_forms' %>

<h2>By Item ID...</h2>
<%= render 'pages/item_forms' %>
